<html>
<table width="100%" cellspacing="2" cellpadding="2" border="1">
<tbody>
<tr>
<td valign="center" align="center" width="25%"><img src="../../media/decartes.jpg"
alt="DeCART Icon" width="128" height="171"><br>
</td>
<td valign="center" align="center" width="75%">
<h1 align="center"><font size="+1">DeCART Summer School<br>
for<br>
Biomedical Data Science</font></h1></td>
<td valign="center" align="center" width="25%"><img
src="../../media/U_Health_stacked_png_red.png" alt="Utah Health
Logo" width="128" height="134"><br>
</td>
</tr>
</tbody>
</table>
<br>
</html>

# MIMIC2 Heart Rate Data

The heart rate and blood pressure data we have been working with is on the verge of worthlessness. Why?

## What do we know about the data originally?

### The numeric data we are analyzing were all pulled from a MySQL database

In this notebook we will do a SQL query to see what the originally data looked like.

In [ ]:
import pymysql
import pandas as pd
import getpass

In [ ]:
conn = pymysql.connect(host="mysql",port=3306,
                       user="jovyan",passwd=getpass.getpass("Enter password for MIMIC2 database"),
                       db='mimic2')

In [ ]:
cursor = conn.cursor()

In [ ]:
bloodpressure = pd.read_sql("""SELECT * FROM chartevents WHERE 
                            itemid in (6, 51, 455, 6701) LIMIT 1000""",conn)

In [ ]:
bloodpressure.head()